<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="jumbotron mt-5">
            <h2 class="card-title text-center">Events List</h2>
            <div class="text-center mt-5">
                <button (click)="event()" class="btn btn-danger mx-2">Events</button>
                <button (click)="register()" class="btn btn-success mx-2">Register</button>
                <button (click)="login()" class="btn btn-primary mx-2">Login</button>
            </div>
        </div>
    </div>
</div>