<div class="row">
    <div class="col-md-4">
        <div class="card mt-3" *ngFor="let event of events">
            <div class="card-title mt-3 text-center"><h5>{{event.EventName}}</h5></div>
            <div class="text-center">
                <button class="btn btn-primary">Buy Ticket</button>
            </div>
            <div class="card-body text-center">{{event.EventDate | date: 'mediumDate'}}</div>
            <div class="card-footer text-center">{{event.EventDesc}}</div>
        </div>
    </div>
</div>