<div class="container-fluid">
  <nav class="navbar navbar-light navbar-expand-md bg-light sticky-top">
    <a href="#" class="navbar-brand">EVENTHUB</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#MyColl">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="MyColl">
      <div class="navbar-nav mr-auto">
        <div class="nav-item">
          <a routerLink="" routerLinkActive="active" class="nav-link">Home</a>
        </div>
        <div class="nav-item">
          <a routerLink="event" routerLinkActive="active" class="nav-link">Events</a>
        </div>
        <div class="nav-item">
          <a routerLink="add-event" routerLinkActive="active" class="nav-link">Add Event</a>
        </div>
      </div>
      <div class="navbar-nav">
        <div class="nav-item">
          <a routerLink="register" *ngIf="!auth.loggedIn()" routerLinkActive="active" class="nav-link">Register</a>
        </div>
        <div class="nav-item">
          <a routerLink="login" *ngIf="!auth.loggedIn()" routerLinkActive="active" class="nav-link">Login</a>
        </div>
        <div class="nav-item">
          <a style="cursor: pointer;" *ngIf="auth.loggedIn()" (click)="auth.logoutUser()" class="nav-link">Logout</a>
        </div>
      </div>
    </div>
  </nav>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>